
#tarot-layout {
    background-color: black;
    gap: 120px;
}

.tarot-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.tarot-layout > div:nth-child(2) {
    align-self: center;
    margin-top: 10%;
}

.tarot-layout > div:nth-child(2).tarot-card {
    margin-top: 20%;
}

.tarot-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.tarot-container > .upright:nth-child(4), .tarot-container > .upright:nth-child(7) {
    grid-column: 1;
}

.tarot-container > .reverse:nth-child(1), .tarot-container > .reverse:nth-child(4) {
    grid-column: 2;
}